*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(73, 136, 219);
}

#description{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(66, 49, 49);
}
label{
    color:rgb(17, 24, 87);
}

h1{
    color:rgb(36, 74, 109);
}
